<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-light">&copy; VietNhatTon</span>
    </div>
</footer>

<style>
    .light-text {
        color: #f8f9fa;
        /* Light gray color in Bootstrap */
    }
</style>